body {
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: lightblue;
   margin: 0;
   overflow: hidden;
   }

.desk {
   text-align: center;
   background-color: white;
   padding: 40px;
   border-radius: 20px;
   max-width: 360px;
   margin-bottom: 60px;
   }

.card {
   width: 90%;
   height: 180px;
   position: relative;
   transform-style: preserve-3d;
   transition: transform 0,6s;
   margin: 0 auto;
   }


.card.is-flipped {
   transform: rotateY(180deg);
   }

.card div {
   position: absolute;
   width: 100%;
   height: 70%;
   backface-visibility: hidden;
   border-radius: 15px;
   display: flex;
   font-size: 1.1em;
   padding: 20px;
   background-color: lightgrey;
   }

.back {
   transform: rotateY(180deg);
   }

button {
   margin: 10px;
   padding: 12px 25px;
   border: none;
   border-radius: 25px;
   background-color: orange;
   color: white;
   font-size: 1.1em;
   cursor: pointer;
   }

button:hover {
   background-color: red;
   }

button:active {
   transform: scale(0.95);
   }
